.footer {
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    padding-top: 10px;
    color: white;
}

.demo-auth-session__form {
    margin-top: 20px;
}

.demo-auth-session {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid lightgray;
}