html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
}

.footer {
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    padding-top: 10px;
    color: white;
}

.navbar {
    margin-bottom: 0px !important;
}

.business-header {
    height: 50vh;
    min-height: 300px;
    background: url('http://placehold.it/1920x400') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 20px;
}

.max-height {
    height: 100%;
}

.home {
    margin-bottom: 20px;
}

.home__about {
    margin-bottom: 20px;
}