html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
}

.footer {
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    padding-top: 20px;
    color: white;
}

.home__about {
    margin-bottom: 20px;
}

.home__cards {
    margin-bottom: 20px;
}

.demo-auth-session__form {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid lightgray;
}

.demo-auth-session-well {
    max-width: 400px;
    margin: 10px;
}